<if-element
    update="messagesHistory"
    js="(messagesHistory.value.length == 0)"
    >
    <div class="mt-10">
        <h1 >What's next !?</h1>
        <ul>
            <li><h2>Finance !</h2>Track stock market data > Track your portfolios > Track your > Budgetting</li>
            <hr>
            <li><h2>True search engine !</h2>With the capabilities of AI and a native search engine, you can make something truly good !</li>
            <hr>
            <li><h2>Thoughts dumping !</h2> DUMP YOUR THOUGHTS</li>
        </ul>
    </div>
</if-element>

