<if-element
    update="messagesHistory"
    js="(messagesHistory.value.length == 0)"
    >
    <div class="mt-10">
        <h1>What's next !?</h1>
        <ul>
            <li><h2>Please PLEASE !!! REFACTOR THIS CODE</h2></li>
            <hr>
            <li><h2>Add bangs like duckduckgo</h2></li>
            <hr>
            <li><h2>Quickly copy code</h2></li>
            <hr>
            <li><h2>Add a traditional search engine (like the OG Gougoule) (with a bang ofc)</h2></li>
            <hr>
        </ul>
    </div>
</if-element>

